//colors
$primary: #ED4C5C;
$secondary: #000;
$light: #fff;


//Font-sizes

$xs: 12px;
$sm: 14px;
$normal: 16px;
$md: 18px;
$lg: 36px;
$xl: 72px;

//Font-Famliy 

$LR: "Lato-Regular";
$LB: "Lato-Bold";